@{
    ViewBag.Title = "Index";
}

@model SysUserDTO.SaveModel

<table id="dg" class="easyui-datagrid"
       data-options="url:'/sysuser/index',method:'post',rownumbers:true,toolbar:'#tb',pagination:true,singleSelect:true,border:false,fit:true,fitColumns:true,idField:'id'">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'Name'">用户名</th>
            <th data-options="field:'RealName'">真实姓名</th>
            <th data-options="field:'Tel'">电话</th>
            <th data-options="field:'Statue'">状态</th>
            <th data-options="field:'RoleId'">角色</th>
        </tr>
    </thead>
</table>


<div id="tb">
    <form id="SearchForm">
        @Html.Label("真实姓名:")@Html.TextBoxFor(model => model.RealName, new { @class = "easyui-textbox" })
        @Html.Label("电话:")@Html.TextBoxFor(model => model.Tel, new { @class = "easyui-textbox" })
        @Html.Label("状态:")  @Html.DropDownListFor(model => model.Statue, EnumExtension.GetEnumSelectViewList<ShowTime.Enum.UserStatue>(new SelectListItem() { Text = "请选择", Value = "0" }), new { @class = "easyui-combobox" })
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch">搜索</a>
    </form>
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAdd" data-options="iconCls:'icon-add',plain:true" >添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnEdit" data-options="iconCls:'icon-edit',plain:true">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnRemove" data-options="iconCls:'icon-remove',plain:true">删除</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog" data-options="title: '详情', modal: true, resizable: true, width: 600, height:280,closed:true">
    <form id="ff">
        <table cellpadding="5" align="center" width="90%">

            <tr>
                <td>@Html.Label("用户名")</td>
                <td>@Html.TextBoxFor(m => m.Name, new { @class = "easyui-textbox" })</td>
            </tr>
            <tr>
                <td>@Html.Label("登录密码")</td>
                <td>@Html.TextBoxFor(m => m.Password, new { @class = "easyui-textbox" })</td>
            </tr>
            <tr>
                <td>@Html.Label("真实姓名")</td>
                <td>@Html.TextBoxFor(m => m.RealName, new { @class = "easyui-textbox" })</td>
            </tr>
            <tr>
                <td>@Html.Label("电话")</td>
                <td>@Html.TextBoxFor(m => m.Tel, new { @class = "easyui-textbox" })</td>
            </tr>
            <tr>
                <td>@Html.Label("状态")</td>
                <td>@Html.DropDownListFor(model => model.Statue, EnumExtension.GetEnumSelectViewList<ShowTime.Enum.UserStatue>(null,1), new { @class = "easyui-combobox" })</td>
            </tr>
            <tr>
                <td>@Html.Label("角色")</td>
                <td>@Html.DropDownListFor(model => model.RoleId,ViewBag.Role as SelectList, new { @class = "easyui-combobox" })</td>
            </tr>
        </table>
        <div id="dlg-buttons" style="text-align:center">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true" id="btnSubmit">提交</a>
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" id="btnCancel" onclick="$('#dlg').dialog('close');">取消</a>
        </div>
        @Html.HiddenFor(m => m.Id)
    </form>
</div>


<script type="text/javascript">
    var ZBase = {
        DoSearch: function () {
            $('#dg').datagrid('load', $('#SearchForm').serializeJson());
        },

        add: function () {
            $("#ff").form("clear");
            $('#ff').form("load", { id: 0 });
            $("#dlg").dialog("open");
        },
        
        edit: function () {
            var row = $('#dg').datagrid("getSelected");

            if (!row) {
                jQuery.messager.alert('提示', "请选择要编辑的数据");
                return;
            }
            $("#ff").form("clear");
            $("#ff").form("load", "/sysuser/getone?id=" + row.id + "&_t=" + new Date().getTime());
            $("#dlg").dialog("open");
        },

        post: function () {
            jQuery.ajax({
                type: "post",
                dataType: "json",
                url: "/sysuser/save",
                data: $('#ff').serializeJson(),
                beforeSend: function () {
                    jQuery.messager.progress();
                },
                success: function (result, status) {
                    jQuery.messager.progress('close');
                    if (result.Success) {
                        jQuery.messager.alert('Info', "操作成功");
                        $("#dg").datagrid("reload");
                        $("#dlg").dialog('close');
                    } else {
                        jQuery.messager.alert('Error', result.Message);
                    }
                },
                error: function () {
                    jQuery.messager.progress('close');
                    jQuery.messager.alert('Error', "操作失败");
                }
            });
        },
        del: function () {
            var row = $('#dg').datagrid("getSelected");

            if (!row) {
                jQuery.messager.alert('提示', "请选择要删除的数据");
                return;
            }
            var id = row.id;
            jQuery.messager.confirm('提示', '请确定要执行删除操作？', function (r) {
                if (r) {
                    jQuery.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/sysuser/del",
                        data: mvcParamMatch({ 'id': id }),
                        beforeSend: function () {
                            jQuery.messager.progress();
                        },
                        success: function (result, status) {
                            jQuery.messager.progress('close');
                            if (result.Success) {
                                jQuery.messager.alert('Info', "操作成功");
                                $("#dg").datagrid("reload");
                            } else {
                                jQuery.messager.alert('Error', result.Message);
                            }
                        },
                        error: function () {
                            jQuery.messager.progress('close');
                            jQuery.messager.alert('Error', "操作失败");
                        }
                    });
                }
            });
        },
        InitEvent: function () {
            $("#btnSearch").on("click", this.DoSearch);
            $("#btnEdit").on("click", this.edit);
            $("#btnRemove").on("click", this.del);
            $("#btnSubmit").on("click", this.post);
            $("#btnAdd").on("click", this.add);
        }

    };
    $(function () {
        ZBase.InitEvent();
    });
</script>

